<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        #body_id{
            background-color: #4f6885;
            color:azure;
        }
        .card-container {
            display: flex;
            flex-direction: row;
            gap: 20px;
            max-width: 600px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .card-img-top {
            height: 300px;
            width:200px;
        }
        #inner_container{
            background-color: #1b3552;
            color: antiquewhite;
        }
    </style>
    <%- include('./partials/heads') %>
</head>
<body id="body_id">
    <%- include('./partials/nav') %>
    
    <div class="card-container">
    <% if (locals.allBlogs) { %>
        <% locals.allBlogs.forEach(blog => { %>
            <div class="card" id="inner_container">
                <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text"><%= blog.content %></p>
                </div>
            </div>
        <% }) %>
    <% } %>
    </div>

    <%- include('./partials/scripts') %>
</body>
</html>
